@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,100;1,200&display=swap');
*{


    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #303841;
    font-family: 'Raleway', sans-serif;
    padding-top: 100px;
    color: #f0f0f0;
}


#navbar{

    background-color: #be3144;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 2;
   
}

#navbar ul{
   
    list-style: none;
    display: flex;
    justify-content:flex-end;
    max-width: 97%;

   
    margin: auto;
   
   
}


#navbar ul li{

    height: 80px;
    display: flex;
    align-items: center;
  
}

#navbar ul li a{

   
    padding: 0 1rem;

    text-decoration: none;
    color: #eee8e9;
    font-size: 1.5rem;
}

#navbar ul li:hover{

    background-color: #45567d;
}


#welcome-section{
  

    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#welcome-section div{

    
    width: 400px;
    height: 100px;
    /*
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;*/
       
    
}

#welcome-section h1{

    
    margin: auto;
    font-size: 3.5rem;
    
  
    text-align: center;
}

#welcome-section h3{

    
    margin: auto;
    font-size: 2rem;
    color:#be3144 ;
    font-weight:200;
    font-style: italic;

    text-align: center;
}

#projects{
    background-color: #45567d;
    /*height: 1200px;*/
    padding: 2rem 1rem;
    width:100%;
    overflow:hidden;
}
#projects h2{

   
    font-family: sans-serif;
    font-size: 2.6rem;
    font-weight: 600;
    text-align: center;
    line-height: 2;
    border-bottom: solid 2px  #f0f0f0;
    max-width: 650px;
    margin: 2.5rem auto ;
    line-height: 1.5;
}
#projects #projects-grid{

    
   /* max-height: 900px;*/
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
   /* grid-template-rows: 400px 400px;*/
    grid-gap: 1rem;

    
  
  
}


#projects .project-tile {

    margin: 0.5rem;
   
      /* width:30vw;*/
       -webkit-box-shadow: 2px -2px 8px 0px #000000; 
       box-shadow: 2px -2px 8px 0px #000000;
     
      background-color: #303841;
     
    }
    #projects .project-tile #tag{


       color: #303841;
       transition: color 0.3s;
        
    }
    #projects .project-tile a:hover  #tag{

        color: rgba(247, 123, 52, 0.877);
    }

#projects .project-tile img{
    width: 100%;
  
  
  
}

#projects .project-tile a{
  
    text-decoration: none;
    color: #f0f0f0;
    text-align: center;
    font-size: 1.5rem;

      

}
#projects .project-tile a p{

   padding-top: 1rem;
}

   

#projects #show-div{
    
    background-color: #303841; 
    max-width:max-content;
    height: 50px;
    padding: 0.7rem 1.5rem;

    text-align: center;
    color: #f0f0f0;
    text-decoration: none;
    font-size: 1.5rem;
    margin:3rem auto;
    transition: all 0.5s;
    display: flex;
    align-items:center;
    justify-content:space-evenly;

}

#projects #show-div #arrow{
    
    transition: all 1s;
    padding-left: 0.5rem;

}

#projects #show-div:hover{

    background-color:#be3144 ;
}

#projects #show-div:hover #arrow{

    transform: translate(5px,0); ;
}

#projects #profile-link{
  
   
    text-align: center;
   
    text-decoration: none;
    
    margin:3rem auto;
   /* padding:0.6rem 1.1rem;*/
        color:  #f0f0f0;
        font-size: 1.3rem;
        
  


}


#contact{

    width:100%;
    height: auto;
  
    text-align: center;

    margin:3.5rem auto;

}

#contact div{

   max-width:100%;
    height: auto;
    margin: auto;

    padding: 3rem;
}


#contact h1{

    margin-top: 2.5rem;
    padding:0.5rem;
   font-size: 4rem;

}

#contact p{

    padding: 0.5rem;
   font-size: 1.3rem;
   font-weight: 100;
   font-style: italic;
   color:  #f0f0f0;

}

#contact ul{

    margin-top: 2rem;
    max-width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    
    
}

#contact ul li{

    margin: 1rem;
    font-size: 1.6rem;
    transition: transform 0.5s;
    
}


#contact ul li:hover{

    transform: translate(0,10px);
    
}

#contact a{

   text-decoration: none;
   color: #f0f0f0;
   
  
 
 }

 #contact i{

    padding-right: 0.5rem;
 }

 footer{


    
    border-top: solid 3px #be3144;
   
    font-size: 1.2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
     height: 140px;
     width: 100%;
    

 }

 footer p{

    font-size: 1.1rem;
    margin: 1.5rem;
    padding-right: 0.5rem;
 }

 


 


@media (max-width:600px){


    

    #navbar ul{
   
      
        justify-content:center;
        max-width: 97%;
    
       
        
       
       
    }


}




